/*=============================================
=                   Colors                    =
=============================================*/
/**
 *
 * brand Color
 *
 */
:root {
  --master-color: #CC0041;
  --master-dark-color: #91002e;
  --master-light-color: #ffdde8;
  --master-superlight-color: #ffe3ec;
  --fs-xss: 0.65rem;
  --fs-xs: 0.75rem;
  --fs-sm: 0.75rem;
  --fs-base:0.85rem;
  --fs-lg: 1.085rem;
  --fs-xl: 1.40rem;
  --fs-xxl: 1.70rem;
}

/* Utility Colors */
/*=====  End of Section Colors  ======*/
/*=============================================
=                Typography                  =
=============================================*/
/* Font Size */
/* Heading font sizes */
/* Font Weights */
/*=============================================
=                  BreakPoints              =
=============================================*/
/*=====  End of Section comment block  ======*/
/*=============================================
=                  Spacings                   =
=============================================*/
/*=====  End of Spacings  ======*/
.order-details-table {
  border-radius: 12px;
  border: 1px solid #aaa !important;
}
.order-details-table tr th:first-child {
  border-radius: 0px 12px 0 0;
}
.order-details-table tr th:last-child {
  border-radius: 12px 0px 0 0;
}
.order-details-table tr:last-child {
  border-bottom: none !important;
}
.order-details-table tr:last-child td:last-child {
  border-radius: 0px 0px 0px 12px;
}
.order-details-table tr:last-child td:first-child {
  border-radius: 0px 0px 12px 0px;
}
.order-details-table table,
.order-details-table th,
.order-details-table td {
  border-collapse: collapse;
}
.order-details-table tbody {
  border-radius: 10px;
}
.order-details-table tr {
  border-bottom: 1px solid #ddd;
}
.order-details-table tr:last-child {
  background-color: rgba(204, 0, 65, 0.200000003);
}
.order-details-table th {
  background-color: #d6eeee;
  height: 50px;
  font-size: var(--fs-sm);
}
.order-details-table table {
  border-radius: 12px;
  padding: 12px 0px;
  width: 100%;
  background-color: #fff;
}
.order-details-table table td {
  font-size: var(--fs-xs);
  text-align: center;
  color: rgb(95, 95, 95);
  padding: 5px 0px;
}

.item-label {
  color: rgb(95, 95, 95);
  margin: 10px 0px;
}

.actions-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.select-actions-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.select-actions-box div {
  width: 40%;
}
.select-actions-box.second-actions div {
  width: 30%;
  margin-top: 20px;
}

.select-actions {
  font-family: iranSans;
  color: rgb(106, 109, 115);
  border: 1px solid #aaa;
  border-radius: 8px;
  height: 35px;
  background-color: #fff;
  width: 100%;
}
.select-actions :focus {
  outline: none;
}

.actions-textarea {
  width: 100%;
  border: 1px solid #aaa;
  border-radius: 8px;
  resize: none;
  padding: 5px;
}
.actions-textarea :focus {
  outline: none;
}

.actions-result {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(223, 223, 223);
  color: rgb(95, 95, 95);
  width: 100% !important;
  border-radius: 8px;
  height: 44px;
  margin-top: 0 !important;
}

.mt-20 {
  margin-top: 20px;
}

.mt-200 {
  margin-top: 200px;
}/*# sourceMappingURL=orderDetails.css.map */